.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
}

.jumbotron {
  height: 450px;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center center;
}
.banner-content {
  padding-top: 6%;
  padding-left: 2%;
  color: white;
}
.img-thumbnail {
  width: 150px;
  height: 150px;
}

hr {
  border-style: solid;
  border-color: white;
}

.portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
