.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
}
body {
  margin-top: 78px;
}

.jumptarget{
  /*padding-top: 78px;
  margin-top: -78px;*/
}
.banner {
  height: 500px;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;
}
.banner-content {
  padding-top: 6%;
  padding-left: 2%;
  color: white;
}
.img-thumbnail {
  width: 250px;
  height: 150px;
}
hr {
  border-style: solid;
  border-color: white;
}
.portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.container-fluid {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#about {
  background-color: white;
  height: 25%;
  padding: 78px 10% 78px 10%;
}
#projects {
  background-color: lightgrey;
  height: minmax(25%, auto);
  padding: 78px 3em 3em 3em;
}

#projects p {
  margin-top: 1em;
}

.projects-title {
  margin-bottom: 3em;
}

#contact {
  background-color: #2b2b2b;
  color: white;
  height: 200px;
}
